.bar-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #6F4E37;
    font-size: x-large;
}

.bar-page h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.bar-page p {
    font-size: 1.2rem;
    margin: 0;
}

.bar-card {
    background-color: #fff;
    padding: 5%;
    border-radius: 5%;
}

.bar-logo {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  margin: 1rem 0;
  border-radius: 12px; /* tekee kulmista pehme채t */
  background-color: #f8f8f8; /* neutraali tausta jos logo on l채pin채kyv채 */
  padding: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bar-info {
    background-color: #e1bb80;
    padding: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.comment-button {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.comment-button button {
    flex: 1;
    padding: 0.6rem 1rem;

    background: #806443;
    color: white;
    font-size: 16px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: background 0.2s;
}