
body {
    padding: 0;
    margin: 0;
}

.emoji-icon {
    font-size: 50px;
    text-align: center;
    line-height: 1;
}

.main-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.menu-section {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #352208;
    box-shadow:
    2px 0 5px rgba(0, 0, 0, 0.2),
    6px 0 15px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.menu-section a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    display: block;
    width: 60%;
    text-align: center;
    background-color: #806443;
    border-radius: 6px;
    transition: background 0.2s;
}

.menu-section a:hover {
    background-color: #5c3e2a;
}

.app-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.map-section {
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.list-section {
    flex: 3;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6F4E37;
}

.menu-section a.active-link {
  background-color: #e1bb80; /* Korostusväri */
  font-weight: bold;
}

/* Piilota hamburger desktopissa */
.hamburger-button {
  display: none;
}

/* Mobiili */
@media (max-width: 768px) {
    .hamburger-button {
      position: fixed;
      top: 15px;
      left: 15px;
      width: 48px;
      height: 48px;
    
      display: flex;
      align-items: center;
      justify-content: center;
    
      font-size: 2rem;
      background: white;
      border-radius: 50%;
      border: 2px solid #ccc;
      
      font-size: 24px;     /* pienempi koko → parempi keskittyminen */
      line-height: 0;      /* ei ylimääräistä pystylaidasta */
    
      cursor: pointer;
      z-index: 3000;
    
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      padding: 0%;
    }


  .menu-section {
    position: fixed;
    top: 0;
    left: 0;
    background: #352208;
    width: 50%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1500;
  }

  .menu-section.open {
    transform: translateX(0);
  }

  .menu-section a {
    padding: 1rem;
    font-size: 1.3rem;
  }
  
}
