@font-face {
  font-family: "myFont";
  src: url("/src/assets/fonts/junegull\ rg.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "myFont", sans-serif;
}
